.game-header {
    margin: 20px 0 20px 0;
    padding-left: 100px;
    padding-right: 100px;

    font-size: 48px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


    padding-right: 100px;
    padding-left: 50px;
}

.game-body .input-controls {
    width: 55%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-controls input{
    max-width: 90%;
    font-size: 30px;
    padding: 10px;
}