.navbar {
    width: 85%;
    border-bottom: 2px solid black;
    text-align: left;
    padding-left: 10%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration:none;
    color: inherit;
}

.navbar .fa-solid {
    font-size: 64px;
}

.navbar button{
    background-color: transparent;
    border-width: 0px;
}