.navbar {
    width: 90%;
    border-bottom: 2px solid black;
    text-align: left;
    padding-left: 2%;
    padding-right: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-center{
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-left {
    width: auto;
    font-size: 48px;
    font-weight: bold;
}


.nav-button {
    margin: 0 20px 0 20px;
}

a {
    text-decoration:none;
    color: inherit;
}

.navbar .fa-solid {
    font-size: 64px;
}

.navbar button{
    background-color: transparent;
    border-width: 0px;
}