.create-question {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.create-question-answers textarea{
  width: 95%;
}

.create-question-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.create-question-header button{
  font-size: 24px;
  background-color: transparent;
  padding: 0px;
  border: none;
}

.create-question-header-center{
  max-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.play-pause-widget {
  margin-right: 10px;
}

.upload-audio-widget {
  max-width: 80%;
}

.create-question-header-center input{
  max-width: 100%;
} 