.auth button {
  background-color: white;
  font-size: 20px;
  border: 2px solid black;
}

.auth-header {
  margin-left: 20px;
}

.auth-header button {
  border-radius: 0px;
  margin-bottom: -2px;
  margin-right: -2px;
  z-index: 1;
}

.auth-header button.selected {
  border-bottom-color: transparent;
}
.auth{
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30%;
}

.auth-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.auth-form{
  display: flex;
  justify-content: center;
}

.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  list-style: none;

  border: 2px solid black;
  padding: 10px;

}

.flex-form li{
  margin: 20px 5px 0 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.flex-form li label{
  text-align: right;
  display: inline-block;
  width: 40%;
  margin-right: 10px;
}

.flex-form li input{
  display: inline-block;
  width: 60%;
}




